/* .page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
} */
body {
  font-size: 18px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #222;
}

.page-height {
  min-height: 100vh;
}
