/* .page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
} */
body {
  font-size: 18px;
  color: #555;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #333;
}

.page-height {
  min-height: 100vh;
}

.theme--light.v-pagination .v-pagination__item {
  outline: none !important;
}

a {
  text-decoration: none !important;
  font-weight: bold !important;
  color: #555 !important;
}

table.cjcc {
  display: block;
  width: 100%;
  overflow: auto;
}

table.cjcc th {
  font-weight: 600;
}

table.cjcc th,
table.cjcc td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table.cjcc tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table.cjcc tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.title-rule {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
